@charset "utf-8";
#div {
    background-color: #486D44;

}
#div {
}
#div2 {
    background-image: url(../images/wallpaperflare.com_wallpaper.jpg);
    background-color: #486D44;
}
#div3 {
    background-color: #486D44;
}
