@charset "utf-8";
#div {
    text-shadow: 0px 0px #000000;
    color: #486D44;
}
#div2 {
    background-color: #486D44;
}
#div3 {
    background-color: #486D44;
}
#div4 {
    background-color: #486D44;
}
#div4 {
}
#div {
}
#div5 {
    color: #2B4527;
    font-size: 45px;
}
